<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title>Học Cờ Vua Cùng Thầy Toàn</title>
    <link rel="stylesheet" href="/css/chessboard-1.0.0.min.css">
    <link rel="stylesheet" href="/css/chess-color.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/before.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="base-layout">
        <div class="base-sidebar">
            <div class="nav-top">
                <ul>
                    <li class="sprite learn-top"><a href="">Trang chủ</a></li>
                    <li class="sprite play-top "><a href="">Thi đấu</a></li>
                    <li class="sprite puzzles-top "><a href="">Bài tập</a></li>
                </ul>
            </div>
            <div class="nav-bottom">
                <ul>
                    <li><a href="">Đăng ký</a></li>
                    <li><a href="/login">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
        <div class="base-container">
            <div class="layout-component">
                <div class="index-component">
                    <section class="index-guest-block">
                        <div class="index-board">
                            <div id="board-layout-main">
                                <div id="board-layout-player-top">
                                    <div class="player-component player-top">
                                        <div class="player-avatar">
                                            <img data-cy="avatar" alt="hoccovua17"
                                                src="https://www.chess.com/bundles/web/images/user-image.svg"
                                                srcset="https://www.chess.com/bundles/web/images/user-image.svg, https://www.chess.com/bundles/web/images/user-image.svg 2x"
                                                width="40" height="40" class="avatar-component player-image">
                                        </div>
                                        <div class="player-tagline">
                                            <div class="user-tagline-component">
                                                <a class="user-username-component user-username-dark user-username-link user-tagline-username"
                                                    data-test-element="user-tagline-username">hoccovua17</a>
                                                <span class="user-tagline-rating user-tagline-dark"></span>
                                                <div class="country-flags-component country-br"></div>
                                            </div>
                                        </div>
                                        <div class="clock-component clock-black clock-top clock-live player-clock">
                                            <div class="clock-icon">
                                                <div class="clock-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="20" height="20" viewBox="0 0 20 20" class="clock-timer"
                                                        style="transform: rotate(0deg);">
                                                        <path
                                                            d="M5.48,9a.93.93,0,0,0-.3.71v.58a.94.94,0,0,0,.3.71,1,1,0,0,0,.71.3h4.58a1,1,0,0,0,.71-.3.94.94,0,0,0,.29-.71V9.7A.92.92,0,0,0,11.48,9a1,1,0,0,0-.71-.27H6.19A1,1,0,0,0,5.48,9Z">
                                                        </path>
                                                        <path
                                                            d="M19.22,6.1a9.9,9.9,0,0,0-2.14-3.18A10.23,10.23,0,0,0,13.9.78,9.76,9.76,0,0,0,10,0,9.86,9.86,0,0,0,6.1.78,10,10,0,0,0,.78,6.1,9.81,9.81,0,0,0,0,10a9.81,9.81,0,0,0,.78,3.9A10,10,0,0,0,6.1,19.22,9.86,9.86,0,0,0,10,20a9.76,9.76,0,0,0,3.89-.78,10.23,10.23,0,0,0,3.18-2.14,9.9,9.9,0,0,0,2.14-3.18A9.81,9.81,0,0,0,20,10,9.81,9.81,0,0,0,19.22,6.1ZM17.07,13a7.65,7.65,0,0,1-1.65,2.42A7.81,7.81,0,0,1,13,17.06a7.46,7.46,0,0,1-3,.6,7.51,7.51,0,0,1-3-.6,7.74,7.74,0,0,1-2.43-1.65A8,8,0,0,1,2.94,13a7.46,7.46,0,0,1-.6-3,7.46,7.46,0,0,1,.6-3A8,8,0,0,1,4.58,4.59,7.74,7.74,0,0,1,7,2.94a7.51,7.51,0,0,1,3-.6,7.45,7.45,0,0,1,3,.6,7.74,7.74,0,0,1,2.43,1.65A7.65,7.65,0,0,1,17.07,7a7.46,7.46,0,0,1,.6,3A7.46,7.46,0,0,1,17.07,13Z">
                                                        </path>
                                                    </svg>
                                                    <span data-cy="clock-time" class="time-play-game time-black">0:00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="board-layout-chessboard">
                                    <div id="myBoard" style="width: 100%"></div>
                                </div>
                                <div id="board-layout-player-bottom">
                                    <div class="player-component player-bottom">
                                        <div class="player-avatar">
                                            <img data-cy="avatar" alt="hoccovua17"
                                                src="https://www.chess.com/bundles/web/images/user-image.svg"
                                                srcset="https://www.chess.com/bundles/web/images/user-image.svg, https://www.chess.com/bundles/web/images/user-image.svg 2x"
                                                width="40" height="40" class="avatar-component player-image">
                                        </div>
                                        <div class="player-tagline">
                                            <div class="user-tagline-component">
                                                <a class="user-username-component user-username-white user-username-link user-tagline-username"
                                                    data-test-element="user-tagline-username">hoccovua17</a>
                                                <span class="user-tagline-rating user-tagline-dark"></span>
                                                <div class="country-flags-component country-br"></div>
                                            </div>
                                        </div>
                                        <div class="clock-component clock-white clock-top clock-live player-clock">
                                            <div class="clock-icon">
                                                <div class="clock-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="20" height="20" viewBox="0 0 20 20" class="clock-timer"
                                                        style="transform: rotate(0deg);">
                                                        <path
                                                            d="M5.48,9a.93.93,0,0,0-.3.71v.58a.94.94,0,0,0,.3.71,1,1,0,0,0,.71.3h4.58a1,1,0,0,0,.71-.3.94.94,0,0,0,.29-.71V9.7A.92.92,0,0,0,11.48,9a1,1,0,0,0-.71-.27H6.19A1,1,0,0,0,5.48,9Z">
                                                        </path>
                                                        <path
                                                            d="M19.22,6.1a9.9,9.9,0,0,0-2.14-3.18A10.23,10.23,0,0,0,13.9.78,9.76,9.76,0,0,0,10,0,9.86,9.86,0,0,0,6.1.78,10,10,0,0,0,.78,6.1,9.81,9.81,0,0,0,0,10a9.81,9.81,0,0,0,.78,3.9A10,10,0,0,0,6.1,19.22,9.86,9.86,0,0,0,10,20a9.76,9.76,0,0,0,3.89-.78,10.23,10.23,0,0,0,3.18-2.14,9.9,9.9,0,0,0,2.14-3.18A9.81,9.81,0,0,0,20,10,9.81,9.81,0,0,0,19.22,6.1ZM17.07,13a7.65,7.65,0,0,1-1.65,2.42A7.81,7.81,0,0,1,13,17.06a7.46,7.46,0,0,1-3,.6,7.51,7.51,0,0,1-3-.6,7.74,7.74,0,0,1-2.43-1.65A8,8,0,0,1,2.94,13a7.46,7.46,0,0,1-.6-3,7.46,7.46,0,0,1,.6-3A8,8,0,0,1,4.58,4.59,7.74,7.74,0,0,1,7,2.94a7.51,7.51,0,0,1,3-.6,7.45,7.45,0,0,1,3,.6,7.74,7.74,0,0,1,2.43,1.65A7.65,7.65,0,0,1,17.07,7a7.46,7.46,0,0,1,.6,3A7.46,7.46,0,0,1,17.07,13Z">
                                                        </path>
                                                    </svg>
                                                    <span data-cy="clock-time" class="time-play-game time-white">0:00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="index-intro">
                            <h1>Chào mừng bạn đến trang web học cờ vua!</h1>
                            <label class="label-chess">Đến lượt:</label>
                            <div class="label-chess" id="status"></div>
                            <!-- <label>FEN:</label>
                            <div id="fen"></div> -->
                            <label class="label-chess">Biên bản thi đấu</label>
                            <div class="label-chess" id="pgn"></div>
                        </div>
                    </section>
                </div>
                <div class="index-component">
                    <section class="index-guest-block">
                        <div class="index-board">

                        </div>
                        <div class="index-intro">

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery351min.js"></script>
    <script src="/js/chessboard.js"></script>
    <script src="/js/chess12.1.js"></script>
    <script src="/js/check-chess.js"></script>
    <!-- <script src="/js/home.js"></script> -->
</body>

</html>