.sprite:before{background:url(/bundles/web/images/sprites/nav.868410a1.png);background-size:15.4rem auto;content:"";display:block;flex-shrink:0;height:2.2rem;margin-right:1.2rem;width:2.2rem}@media (-webkit-min-device-pixel-ratio:1.5),all and (-o-min-device-pixel-ratio:3/2),all and (min--moz-device-pixel-ratio:1.5),all and (min-device-pixel-ratio:1.5){.sprite:before{background:url(/bundles/web/images/sprites/nav.868410a1@2x.png);background-size:15.4rem auto}}@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.sprite:before{background:url(/bundles/web/images/sprites/nav.868410a1@2x.png);background-size:15.4rem auto}}.sprite.play:before{
  /*rtl:ignore*/background-position:0 -57.2rem}.sprite.play-top:before{
  /*rtl:ignore*/background-position:-2.1rem -7.8rem}.sprite.diamond:before{
  /*rtl:ignore*/background-position:0 0}.sprite.diamond-top:before{
  /*rtl:ignore*/background-position:-2.3rem -30rem}.sprite.live:before{
  /*rtl:ignore*/background-position:0 -2.2rem}.sprite.daily:before{
  /*rtl:ignore*/background-position:0 -4.4rem}.sprite.computer:before{
  /*rtl:ignore*/background-position:0 -6.6rem}.sprite.tournaments:before{
  /*rtl:ignore*/background-position:0 -8.8rem}.sprite.archive:before{
  /*rtl:ignore*/background-position:0 -11rem}.sprite.tactics:before{
  /*rtl:ignore*/background-position:0 -13.2rem}.sprite.puzzles-top:before{
  /*rtl:ignore*/background-position:-2.3rem -11.4rem}.sprite.learn:before{
  /*rtl:ignore*/background-position:0 -15.4rem}.sprite.learn-top:before{
  /*rtl:ignore*/background-position:-2.3rem -15.15rem}.sprite.videos:before{
  /*rtl:ignore*/background-position:0 -17.6rem}.sprite.articles:before{
  /*rtl:ignore*/background-position:0 -19.8rem}.sprite.news:before{
  /*rtl:ignore*/background-position:0 -22rem}.sprite.news-top:before{
  /*rtl:ignore*/background-position:-2.3rem -33.75rem}.sprite.openings:before{
  /*rtl:ignore*/background-position:0 -24.2rem}.sprite.analysis:before{
  /*rtl:ignore*/background-position:0 -26.4rem}.sprite.connect:before{
  /*rtl:ignore*/background-position:0 -28.6rem}.sprite.social-page:before{
  /*rtl:ignore*/background-position:-2.3rem -22.65rem}.sprite.clubs:before{
  /*rtl:ignore*/background-position:0 -30.8rem}.sprite.blogs:before{
  /*rtl:ignore*/background-position:0 -33rem}.sprite.vote-chess:before{
  /*rtl:ignore*/background-position:0 -35.2rem}.sprite.coaches:before{
  /*rtl:ignore*/background-position:0 -37.4rem}.sprite.friends:before{
  /*rtl:ignore*/background-position:0 -39.6rem}.sprite.messages:before{
  /*rtl:ignore*/background-position:0 -41.8rem}.sprite.events:before{
  /*rtl:ignore*/background-position:0 -44rem}.sprite.stats:before{
  /*rtl:ignore*/background-position:0 -46.2rem}.sprite.theme:before{
  /*rtl:ignore*/background-position:0 -48.4rem}.sprite.settings:before{
  /*rtl:ignore*/background-position:0 -50.6rem}.sprite.home:before{
  /*rtl:ignore*/background-position:0 -55rem}.sprite.explorer:before{
  /*rtl:ignore*/background-position:0 -59.4rem}.sprite.more:before{
  /*rtl:ignore*/background-position:0 -61.6rem}.sprite.more-top:before{
  /*rtl:ignore*/background-position:-2.3rem -26.25rem}.sprite.members:before{
  /*rtl:ignore*/background-position:0 -63.8rem}.sprite.help:before{
  /*rtl:ignore*/background-position:0 -66rem}.sprite.logout:before{
  /*rtl:ignore*/background-position:0 -68.2rem}.sprite.profile:before{
  /*rtl:ignore*/background-position:0 -70.4rem}.sprite.watch:before{
  /*rtl:ignore*/background-position:0 -72.6rem}.sprite.tv:before{
  /*rtl:ignore*/background-position:0 -74.8rem}.sprite.daily-puzzle:before{
  /*rtl:ignore*/background-position:0 -77rem}.sprite.other-games:before{
  /*rtl:ignore*/background-position:0 -79.2rem}.sprite.leaderboard:before{
  /*rtl:ignore*/background-position:0 -81.4rem}.sprite.terms:before{
  /*rtl:ignore*/background-position:0 -83.6rem}.sprite.chess-kid:before{
  /*rtl:ignore*/background-position:0 -85.8rem}.sprite.drills:before{
  /*rtl:ignore*/background-position:0 -88rem}.sprite.vision:before{
  /*rtl:ignore*/background-position:0 -90.2rem}.sprite.mobile-apps:before{
  /*rtl:ignore*/background-position:0 -92.4rem}.sprite.proleague:before{
  /*rtl:ignore*/background-position:0 -94.6rem}.sprite.first-steps:before{
  /*rtl:ignore*/background-position:0 -96.8rem}.sprite.streamers:before{
  /*rtl:ignore*/background-position:0 -99rem}.sprite.four-player-chess:before{
  /*rtl:ignore*/background-position:0 -101.2rem}.sprite.bughouse:before{
  /*rtl:ignore*/background-position:0 -103.4rem}.sprite.solo-chess:before{
  /*rtl:ignore*/background-position:0 -107.8rem}.sprite.cpu-champs:before{
  /*rtl:ignore*/background-position:0 -110rem}.sprite.speed-champs:before{
  /*rtl:ignore*/background-position:0 -112.2rem}.sprite.awards:before{
  /*rtl:ignore*/background-position:0 -114.4rem}.sprite.top-players:before{
  /*rtl:ignore*/background-position:0 -116.6rem}.sprite.merch:before{
  /*rtl:ignore*/background-position:0 -118.8rem}.sprite.puzzles:before{
  /*rtl:ignore*/background-position:0 -121rem}.sprite.resources:before{
  /*rtl:ignore*/background-position:0 -123.2rem}.sprite.wcc:before{
  /*rtl:ignore*/background-position:0 -125.4rem}.sprite.top-event:before{
  /*rtl:ignore*/background-position:0 -127.6rem}.sprite.puzzle-battle:before{
  /*rtl:ignore*/background-position:0 -129.8rem}.sprite.chess-today:before{
  /*rtl:ignore*/background-position:0 -132rem}.sprite.watch-top:before{
  /*rtl:ignore*/background-position:-2.3rem -18.75rem}.sprite.shop:before{
  /*rtl:ignore*/background-position:0 -134.2rem}.sprite.live-rankings:before{
  /*rtl:ignore*/background-position:0 -136.4rem}.sprite.variants:before{
  /*rtl:ignore*/background-position:0 -138.6rem}.sprite.library:before{
  /*rtl:ignore*/background-position:0 -143rem}.sprite.endgames:before{
  /*rtl:ignore*/background-position:0 -145.2rem}.sprite.practice:before{
  /*rtl:ignore*/background-position:0 -147.4rem}.sprite.classroom:before{
  /*rtl:ignore*/background-position:0 -149.6rem}.sprite.insights:before{
  /*rtl:ignore*/background-position:0 -151.8rem}.sprite.custom:before{
  /*rtl:ignore*/background-position:0 -154rem}.sprite.verified:before{
  /*rtl:ignore*/background-position:0 -156.2rem}.sprite.treasure:before{
  /*rtl:ignore*/background-position:0 -158.4rem}.sprite.chess-logo:before{
  /*rtl:ignore*/background-position:-2.2rem .3rem;height:3.75rem;margin-right:auto;width:13.1rem}